{% comment %}
  Announcement Bar
{% endcomment %}

<div class="announcement-bar" style="display: none;">
  <p>Welcome to Padel Ready</p>
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "settings": []
}
{% endschema %}
